* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection {
  background-color: grey;
  color: white;
}

header {
  background-color: #db3a3a;
  height: 30px;
  display: grid;
  grid-template-columns: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#box {
  height: 25px;
  width: 180px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: aliceblue;
}

#info {
  color: white;
}

#navlist:hover {
  color: red;
}

/* dropdown box  */
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  z-index: 3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 3;
}

#list {
  display: flex;
}

/* ul#dropdown-menu{
  margin-left: -200px;
} */

/* =============== */

.counter {
  height: 200px;
  width: 100%;
  background-color: #1a2538;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.box {
  text-align: center;
  color: white;
  flex-basis: calc(20% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #2c3a55; /* Darker background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box i {
  font-size: 40px;
  margin-bottom: 10px;
}

.box h2 {
  font-size: 36px;
  margin: 0 0 10px 0;
}

.box p {
  font-size: 14px;
  color: #8892b0; /* Lighter text color */
}

@media only screen and (max-width: 750px) {
  .counter {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 400px) {
  .box {
    padding: 10px;
    flex-basis: calc(10% - 10px);
  }
  .counter {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
  }
}
.section1 {
  height: 600px;
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto;
}

#sect-text {
  text-align: center;
}
.box12 {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
}

.courses {
  height: 150px;
  background-color: #d9dde28e;
  width: 200px;
  /* border: 2px solid black; */
  border-radius: 6px;
  align-content: center;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  cursor: pointer;
}

.courses img {
  text-align: center;
}

#cou-a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 800px) {
  .section1 {
    height: 1100px;
  }

  .box12 {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .courses {
    width: 150px;
  }
}

@media only screen and (max-width: 350px) {
  .box12 {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
  }
}

/* ======================== */
/* section-2 */

.section4 {
  display: flex;
  justify-content: center;
}
.content {
  height: 350px;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  display: flex;
  justify-content: space-evenly;
}

.img,
.text {
  height: 100%;
  width: 50%;
}

.img {
  background-image: url(./5pillar.png);
  height: 85%;
  width: 30%;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.text {
  width: 40%;
}

.text-list2 {
  display: flex;
}

.text-list1 b {
  font-size: 40px;
}
@media screen and (max-width: 670px) {
  .content {
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  .img,
  .text {
    height: 100%;
    width: 100%;
  }

  .img {
    height: 50%;
    background-size: 100%;
    background-size: 100%;
  }

  .text-list2 {
    display: flex;
    flex-direction: column;
  }

  .text-list1 b {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    height: 450px;
  }
  .img,
  .text {
    height: 100%;
    width: 100%;
  }

  .text-list1 b {
    font-size: 25px;
  }

  .img {
    height: 100%;
    background-size: 100%;
  }
  .text {
    height: 100%;
    font-size: x-small;
  }
}

/*end-content  */

#mac-text {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img2 {
  height: 300px;
  background-image: url(./mac-screen.png);
  background-size: 100% 100%;
}

#cont2 {
  margin-top: 120px;
}

@media screen and (max-width: 670px) {
  .img2 {
    order: -1;
  }

  #video {
    width: 100%;
  }

  #cont2 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 350px) {
  .img2 {
    order: -1;
  }
  #video {
    width: 100%;
  }
  #cont2 {
    margin-top: 50px;
  }
}
